.flex-grid {
  display: flex;
  font-family: 'Dosis', sans-serif;
  background-image: url("./StarfallLake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  
  
}

.body {
  
}

.main-col {
  font-family: 'Dosis', sans-serif;
  flex: 1;
  background-color: lightseagreen;
  padding: 10px;
  border-radius: 25px;
  width: 5%;
  margin-left: 10%;
  margin-right: 5%;
  animation-name: details;
  animation-duration: 8s;
}

@keyframes details {
  0%   {background-color:blue;}
  5%   {background-color:green;}
  10%  {background-color: lime;}
  25%  {background-color: yellow;}
  50%  {background-color: lime;}
  65%  {background-color: green;}
  70% {background-color: blue;}
  100% {background-color: white;}
}
  

.side-col {
  font-family: 'Dosis', sans-serif;
  flex: 0.5;
  background-color: lightseagreen;
  padding: 10px;
  border-radius: 25px;
  margin-left: 5%;
  width: 20%;
  animation-name: film;
  animation-duration: 8s;
}

@keyframes film {
  0%   {background-color:blue;}
  5%   {background-color:green;}
  10%  {background-color: lime;}
  25%  {background-color: yellow;}
  50%  {background-color: orange;}
  65%  {background-color: red;}
  70% {background-color: darkred;}
  100% {background-color: white;}
}



header {
  text-align: center;
  font-size: larger;
  /* background-color: #5263b8;
background-image: url("https://www.transparenttextures.com/patterns/skulls.png"); */
background-color: rgba(31, 148, 194, 0.774);
background-image: url("https://www.transparenttextures.com/patterns/washi.png");
border-radius: 10px;
border-style: groove;
}

ol {
list-style: none;
}

.filmName {
  font-size: medium;
  padding: 10px;
}


img {
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 25px;
}